#manusoft_cf2pdf_config .inside {
  display: flex;
  justify-content: center;
}

#manusoft_cf2pdf_guardar_button input {
  margin-top: 5%;
  margin-bottom: 5%;
}

div .manusoft_cf2pdf_image_preview {
  margin-top: 1%;
}

div .manusoft_cf2pdf_image_input {
  margin-top: 1%;
}
