/*
 *
 *  CONFIGURACIÓN
 *
 */
#manusoft_cf2pdf_cargando {
	display:none;
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

#manusoft_cf2pdf_config .inside {
  padding-left:5%;
  padding-right:5%;
  //display:flex;
  //justify-content:center;
}

#manusoft_cf2pdf_config #manusoft_cf2pdf_guardar .inside {
  text-align:center;
}

#manusoft_cf2pdf_guardar_button {
  margin-top:5%;
  margin-bottom:5%;
}

#manusoft_cf2pdf_config input[type=text] {
  width:300px;
}

div .manusoft_cf2pdf_image_preview {
  margin-top:1%;
}

div .manusoft_cf2pdf_image_input {
  margin-top:1%;
}

#manusoft_cf2pdf_footer {
  //padding-left:5%;
  //padding-right:5%;
}

#manusoft_cf2pdf_config table {
  width:100%;
}

#manusoft_cf2pdf_footer_image {
  width:35%;
}

#manusoft_cf2pdf_footer_textarea {
  width:55%;
}
/* ########################################################################## */

/*
 *
 *  FORMULARIOS
 *
 */

#manusoft_cf2pdf_form_name {
  width:80%;
}

.manusoft_cf2pdf_error {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-left-color: #dc3232;
}

.manusoft_cf2pdf_updated {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-left-color: #46b450;
}
